* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #212121;
  color: #111;
}

#root {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 720px;
  background: #fff;
}

/* Used just for indexing colors in the IDE */
.yellow {
  color: #FFDA1A;
}

/* Used just for indexing colors in the IDE */
.blue {
  color: #0051BA;
}

/* Used just for indexing colors in the IDE */
.red {
  color: #FF4136;
}

/* Used just for indexing colors in the IDE */
.green {
  color: #2ECC40;
}
